.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.custom-textfield {
  border-radius: 30px;
  width: 45rem;
  margin: 10px;
}

.custom-textfield-input {
  border-color: purple;
}

.custom-textfield-input:hover {
  border-color: purple;
}

.custom-textfield-input-focused {
  border-color: purple;
}
